/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
	width: 876px;
	margin: 0 auto;
	/* background: pink; */

	display: flex;

	flex-direction: column;
}

header {
	/* background: red; */
	height: 85px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav {
	/* background: purple; */
	width: 600px;

	display: flex;
	justify-content: space-between;
}

header nav a {
	text-decoration: none;
	color: lightgrey;
}

/* header #pictureBox1 {
	background: purple;
} */

.box.banner {
	/* background: red; */
	height: 494px;

	display: flex;
	align-items: center;
	justify-content: space-between;

}

.box.banner.jumbo {
	/* background: purple; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	width: 480px;
}

.box.banner.jumbo.jumboText {
	/* background: green; */
	/* width: 485px; */
	height: 230px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 72px;
	letter-spacing: 5px;
	line-height: 60px;
}

.box.banner.jumbo.button {
	/* background: yellow; */
	height:40px;
	width: 180px;
	border: 1px solid black;

	/* align-self: center; */
	/* justify-self: center; */
	align-items: center;
	align-self: center;
	font-size: 18px;
}

#pictureBox2 {
	/* background: purple; */
	height: 400px;
}

hr {
	color: black;

	/* Have to add to get <hr> to show! Apparently flexbox 'corrupts' <hr> tags: https://stackoverflow.com/questions/34365271/hr-inside-container-with-display-flex-become-corrupted. */
	margin-left: 0;
 	margin-right: 0;
}

.box.content {
	/* background: red; */
	height: 568px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.box.content.top {
	/* background: green; */
	height: 450px;

	display: flex;
	flex-direction: row;
	/* flex-basis: 0px; */
	align-items: center;
}

.box.content.top section {
	padding: 16px 10px 22px 2px;
	/* justify-self: center; */
}

.box.content.bottom {
	/* background: green; */
	/* height: 300px; */

	display: flex;
	flex-direction: row;	
	align-items: center;
	flex-grow: 1;
}

.box.content.bottom section {
	padding: 25px 12px 28px 2px;
}

p {
	line-height: 18px;
	font-size: 16px;
}

footer {
	/* background: red; */
	height: 250px;

	display: flex;
	flex-direction: column;
}

.box.contact {
	padding: 28px 0px 0px 3px;
}

/* Overwrite above padding: */
#streetAddress {
	padding: 0px 0px 20px 0px;
}

#number {
	padding: 0px;
}

#emailAddress {
	padding: 18px 0px 0px 0px;
}

#copyright {
	align-self: center;
	padding: 52px 0px 0px 0px;
}

#copyright p {
	font-size: 14px;
}